@model GerenciamentoEstoque.Web.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="mx-auto form-control-lg">
        <section>
            <form asp-action="Authenticate">
                <div class="text-center">
                    <h1>
                        Gerenciamento Estoque
                    </h1>
                </div>
                <hr />
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" type="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>  
                <div class="form-group" hidden>
                    <label asp-for="Role"></label>
                    <select asp-for="Role" class="form-control">
                        <option value="admin">Administrador</option>
                    </select>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Entrar</button>
                </div>
            </form>
        </section>
    </div>
</div>
