@model GerenciamentoEstoque.Web.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Remover Produto";
}

<br />
<h3>Remover Produto</h3>
<div>
    <hr />
    <h5>Você tem certeza que deseja deletar esse produto?</h5>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete">
        <div class="form-group">
            <input type="button" class="btn btn-primary" value="Voltar" onclick="history.back()">
            <input type="submit" value="Deletar" class="btn btn-danger" />
        </div>
    </form>
</div>